* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  /*   color: #fff; */
  font-size: 16px;
  line-height: 19px;
}

/* -----------top-wrp------------------- */

.top-wrp {
  background-image: url(../img/top/background-top.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.center {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}


